.card_parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

.pagination{
   margin-left: 30%;
   margin-right: 30%;
   cursor: pointer;
}

@media screen and (max-width: 800px) {
    .card_parent {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media screen and (max-width: 500px) {
    .card_parent {
       display: grid;
       grid-template-columns: 1fr 1fr;
    }
  }