.carousel{
    height: auto;

    img{
        height: 400px;
        width: 900px;
    }

    @media screen and (max-width: 500px) {
        img {
            height: 100%;
            width: 200px;
        }
      }
}