.detail{
    color: white;

    // .card{
    //     border: 1px solid red;
    // }
    .img{
    width: 200px;
    }
    
    @media screen and (max-width: 500px) {
    
        .img{
           width: 100px;
        }
      }
}