.detail{
    color: white;
    padding-top: 130px;
    cursor: pointer;

    // .card{
    //     border: 1px solid red;
    // }
    .img{
    width: 200px;
    cursor: pointer;
    }
    
    @media screen and (max-width: 500px) {
    
        .img{
           width: 100px;
        }
      }
}
.youtube{
   position: relative;
   margin-top: -300px;
}


@media screen and (max-width: 500px) {
    
  .detail{
     padding-top: 70px;
  }
}