footer{
    display: grid;
    grid-template-rows: auto auto;

    .footer1{
        background-color: rgb(95, 85, 85);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 60px;
        padding-left: 5%;
    }

    .footer2{
        background-color: #222222;

        div{
            text-align: center;
        }

        @media screen and (max-width: 600px) {
            img {
               max-width: 200px;
            }
          }

    }
    @media screen and (max-width: 600px) {
        .footer1 {
           display: grid;
           grid-template-columns: 1fr;
        }
      }

      @media screen and (max-width: 500px) {
        .footer1 {
           display: none;
        }
      }
}


